{% extends "base.html" %}

{% block title  %} Beca Alimenticia {% endblock %}

{% block content %}

		<h2>Registro para Beca alimenticia</h2>
				<form>
					<div class="form-group">
						<label for="lblNombre">Nombre</label>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-grop">
						<label for="lblApe">Apellido</label>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group">
						<font  face = "arial">Dirección</font>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group">
						<font  face = "arial">Ecuela a la que asiste</font>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group">
						<font  face = "arial">¿Cual es tu promedio?</font>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group">
						<font  face = "arial">¿Cual semestre te encuentras?</font>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group">
						<font  face = "arial">Motivo de solicitarla</font>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group">
						<font  face = "arial">Ingreso mensual de los padres</font>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group">
						<font  face = "arial">Cantidad de hermanos</font>
						<input type = "text" class="form-control"/>
					</div>

					<div class="form-group form-check">
						<label for="lblEstudias">¿Siges asistendo a la escuela?</label>
						<br>
						<input type="checkbox" class="form-check-input" id="chkSi">
						<label class="form-check-label" for="exampleCheck1">Si</label>
					</div>


						<br>
					<input type = "button" class = "btn btn-success" value = "Enviar"/>
					<input type = "button" class = "btn btn-danger" value = "Cancelar"/>
				</form>
