{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
		<h2>Registro para Beca alimenticia</h2>
		<table>
			<tr>
				<td><font  face = "arial">Nombre</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Apellido</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Dirección</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Ecuela a la que asiste</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">¿Cual es tu promedio?</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">¿Cual semestre te encuentras?</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Motivo de solicitarla</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Ingreso mensual de los padres</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Cantidad de hermanos</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">¿Siges asistendo a la escuela?</font></td>
				<td><input type = "radio" name = "Si"/> Si <input type = "radio" name = "No"/> No</td>
			</tr>
		</table>
		<br>
{% endblock %}
