{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
            <Legend><h2>Perimetro de un Decágono</h2></Legend>

              <div class="column">
                  Medida del Lado 1:<br>
                  <input type="text" name="l1">
                  <br>
                  Medida del Lado 2:<br>
                  <input type="text" name="l2">
                  <br>
                  Medida del Lado 3:<br>
                  <input type="text" name="l3">
                  <br>
                  Medida del Lado 4:<br>
                  <input type="text" name="l4">
                  <br>
                  Medida del Lado 5:<br>
                  <input type="text" name="l5">
                  <br>
              </div>
              <div class="column">
                  Medida del Lado 6:<br>
                  <input type="text" name="l6">
                  <br>
                  Medida del Lado 7:<br>
                  <input type="text" name="l7">
                  <br>
                  Medida del Lado 8:<br>
                  <input type="text" name="l8">
                  <br>
                  Medida del Lado 9:<br>
                  <input type="text" name="l9">
                  <br>
                  Medida del Lado 10:<br>
                  <input type="text" name="l10">
                  <br><br>
                  <input type="submit" value="Calcula">
              </div>
              <img src="https://decagono.com/img/decagono.png" alt="Decagono">
              <br>
        </fieldset>
        </center>
    </form>
{% endblock %}
