{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
<h2>Pedido de equipo</h2>
<p>Para quien es el equipo</p>
<form>
    <select name="miembro">
        <option disabled selected value>-- Escoje a uno --</option>
        <option value="mim1">Maude Turpin</option>
        <option value="mim2">Ashlie Valenzuela</option>
        <option value="mim3">Andres Delgado</option>
        <option value="mim4">Brenda Paz</option>
    </select>
    <br><br>
    Selecciona el color para tu equipo:
    <input type="color" name="favcolor" value="#ff0000">
    <br><br>
    Para Cuando ocupas el quipo:
    <input type="datetime-local" name="bdaytime">
    <br>
    <p>Cual Arquitectura de chip(CPU prefieres):</p>
    <select name="miembro">
        <option disabled selected value>-- Escoje a uno --</option>
        <option value="mim1">AMD</option>
        <option value="mim2">INTEL</option>
    </select>
    <br>
    <p>Cual Marca de equipo prefieres:</p>
    <select name="miembro">
        <option disabled selected value>-- Escoje a uno --</option>
        <option value="mim1">HP</option>
        <option value="mim2">LENOVO</option>
        <option value="mim2">ASUS</option>
        <option value="mim2">Toshiba</option>
    </select>
    <br>
    <p>Forma de envio:</p>
    <input type="radio" name="op1" value="Terr" checked> Terrestre<br>
    <input type="radio" name="op2" value="Aer"> Aereo<br>
    <input type="radio" name="op3" value="otr"> Otro
    <br>
    <p>Comentarios:</p>
    <textarea name="message" rows="5" cols="35">

    </textarea>
    <br>
    <input type="submit" value="Enviar">
</form>
{% endblock %}
