{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
<h2>Registro del Seguro</h2>

Nombre(s):<br>
<input type="text" name="nombre">
<br><br>
Apellido(s):<br>
<input type="text" name="apellidos">
<br><br>
Fecha de Nacimiento:
<input type="date" name="bday">
<br>
   <fieldset>
       <legend><p>Genero</p></legend>
      <input type="radio" name="gender" value="Masculino" checked> Male<br>
      <input type="radio" name="gender" value="Femenino"> Female<br>
      <input type="radio" name="gender" value="Otro"> Other <br>
    </fieldset>
    <fieldset>
        <legend><p>Ocupación</p></legend>
          <input type="checkbox" name="Occp1" value="Trabajo"> Trabajo<br>
          <input type="checkbox" name="Occp2" value="Estudio"> Estudio <br>
    </fieldset>
<br><br>
<input type="submit" value="Continuar">
<input type="reset" value="Reinicio">
</form>
{% endblock %}
