{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
		<h2>Adopción de perros</h2>
		<br>
		<br>
		<table>
			<tr>
				<td><font face = "arial">Nombre mascota</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font face = "arial">Tipo y raza de la mascota</font></td>
				<td><select name="Raza">
		        <option disabled selected value>-- Escoje a uno --</option>
		        <option value="mim1">Husky</option>
		        <option value="mim2">Golden Retriever</option>
		        <option value="mim3">Pug</option>
		        <option value="mim4">Pastor Aleman</option>
		    </select></td>
			</tr>
			<tr>
				<td><font face = "arial">Color(es)</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font face = "arial">Edad</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Nombre del dueño</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Dirección</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Celular/Teléfono</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font face = "arial">Celular/Teléfono de emergencia</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font face = "arial">Centro de adopción</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font face = "arial">Fecha de adopción</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
		</table>
		<br>
		<input type = "submit" value = "Crear Ficha"/>
{% endblock %}
