{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
		<h2>Grupo Musical Favorito</h2>
		<br>
		<br>
		<table>
			<tr>
				<td><font  face = "arial">Colonia</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Calle</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Número de casa</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Codigo postal</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Nombre</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">¿Cuál es tu grupo favorito?</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">¿Cuenta con Spotify?</font></td>
				<td><input type="checkbox" name="op1" value="s" checked> Si<br>
		    <input type="checkbox" name="op2" value="no"> No</td>
			</tr>
			<tr>
				<td><font  face = "arial">¿A cuantos Conciertos ha asistido?</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">¿Cuánto tiempo escucha musica?</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">¿En que medio escucha su musica?</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
		</table>
		<br>
		<input type = "submit" value = "Enviar datos"/>
{% endblock %}
