{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
		<h2>Registro de alumnos </h2>
		<br>
		<br>
		<table >
			<tr>
				<td><font  face = "arial">Nombres:</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<tr>
					<td><font  face = "arial">Prepa</font></td>
					<td><select name="prep">
			        <option disabled selected value>-- Escoje a uno --</option>
			        <option value="mim1">CETis#58</option>
			        <option value="mim2">CETis#116</option>
			        <option value="mim3">Lazaro Cardenas</option>
			        <option value="mim4">Cetys Prep.</option>
			    </select></td>
				</tr>
			<tr>
				<td><font  face = "arial"># de control</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Carrera</font></td>
				<td><select name="carr">
		        <option disabled selected value>-- Escoje a uno --</option>
		        <option value="mim1">ISC</option>
		        <option value="mim2">ICC</option>
		        <option value="mim3">IND</option>
		        <option value="mim4">IEM</option>
		    </select></td>
			</tr>
			<tr>
				<td><font  face = "arial">Semestre</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Especialidad</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Unidad de Tecnológico</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Motivos por la carrera</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Área más visitada</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Sugerencia</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
		</table>
		<br>
		<input type = "submit" value = "Enviar Datos"/>
{ % endblock %}
