{% extends "base.html" %}

{% block title  %} Control de Alimentación  {% endblock %}

{% block content %}
		<h2>  Traspaso de dueño </h2>
		<br>
		<br>
		<table>
			<tr>
				<td><font  face = "arial">Marca del carro</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Modelo del carro</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Tipo de carro</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Color del carro</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Condiciones del carro</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Placas registradas</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Nombre del dueño actual</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Nombre del dueño a recibir</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Monto total</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
			<tr>
				<td><font  face = "arial">Fecha en la transacción</font></td>
				<td><input type = "text" size = "20"/></td>
			</tr>
		</table>
		<br>
		<input type = "submit" value = "Registrar"/>
{% endblock %}
