{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "nav.html" %}
    {% block content %}{% endblock %}
    <script type="text/javascript">
  $(document).ready(function(){
    console.log("Working")
      var searchInput = $("#nav-bar-form input[type=search]")
      var searchQuery;
      searchInput.keyup(function(event){
      searchQuery = $(this).val()
    })

    function doneSearchingTyping(){
      if (searchQuery){
        var url = "/estudiante/search?q=" + searchQuery
        document.location.href = url
      }
    }

  });
</script>

  </body>
  <footer>
    <p>Version: {{msgVersion}}</p>
  </footer>
</html>
