{% extends "base.html"%}
{% block title %}
    Creacion Gen
{% endblock %}
<!--.as_p para el form.vert-->
{% block content %}

<h3>Agregado por Generico de usuario:</h3>
{% include "mod1/f_create.html" %}
<script type="text/javascript">
$("#form_create").submit(function(event){
  event.preventDefault()
  var this_ = $(this)
  var formdata = this_.serialize()

$.ajax({
  url: "/mod1/api_create/",
  method: "POST",
  data: formdata,

  success: function(data){
    console.log(data)
  },
  error: function(data){
    console.log("Error")
    console.log(data)
  }
})
})

</script>
{% endblock%}
