{% extends "base.html"%}
{% block title %}
    Borrado
{% endblock %}
<!--.as_p para el form.vert-->
{% block content %}
<h3>Borrar</h3>
<form class="form-group" method="POST">{% csrf_token %}
  <h2>Seguro de eliminar al usuario {{obj}} ?</h2>
  <button type="submit" class= "btn btn-outline-primary form-control">Borrar</button>
  <button type="reset" class= "btn btn-outline-warning form-control">Cancelar</button>
</form>
{% endblock%}
