{% extends "base.html"%}
{% block title %}
    Detalle Gen
{% endblock %}

{% block content %}
    <h1>Detalles Genericos de los estudiantes</h1>
        <table class="table table-striped">
            <thead> </thead>
            <tr>
              <th>Nombre</th>
              <td>{{object.estudiante_name}}</td>
            </tr>
            <tr>
                <th>Apellido Paterno</th>
                <td>{{object.estudiante_ap}}</td>
            </tr>
            <tr>
                <th>Apellido Materno</th>
                <td>{{object.estudiante_am}}</td>
            </tr>
            <tr>
              <th>Edad</th>
              <td>{{object.estudiante_edad}}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{object.estudiante_semestre}}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{object.email}}</td>
            </tr>
            <tr>
                <th> Listado </th>
                <td><a href="{%url 'listgen_view' %}">Back</a></td>
            </tr>
        </table>
{% endblock%}
