{% extends "base.html"%}
{% block title %}
    Detalle
{% endblock %}

{% block content %}
    <h1>Detalles de los estudiantes</h1>
        <table class="table table-striped">
            <thead> </thead>
            <tr>
              <th>Nombre</th>
              <td>{{detail.estudiante_name}}</td>
            </tr>
            <tr>
                <th>Apellido Paterno</th>
                <td>{{detail.estudiante_ap}}</td>
            </tr>
            <tr>
                <th>Apellido Materno</th>
                <td>{{detail.estudiante_am}}</td>
            </tr>
            <tr>
              <th>Edad</th>
              <td>{{detail.estudiante_edad}}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{detail.estudiante_semestre}}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{detail.email}}</td>
            </tr>
            <tr>
                <th> Listado </th>
                <td><a href="{%url 'list_view' %}">Back</a></td>
            </tr>
        </table>
{% endblock%}
