{% extends "base.html"%}
{% block title %}
    Index
{% endblock %}

{% block content %}
<h1>HomePage! UwU</h1>
<form class="form-group"  method="POST">{% csrf_token %}
  {{ form }}
  <button type="submit" class= "btn btn-outline-primary form-control">Login</button>
  <button type="reset" class= "btn btn-outline-warning form-control">Cancelar</button>
</form>

{% endblock%}
