{% extends "base.html"%}
{% block title %}
    Lista Gen
{% endblock %}

{% block content %}
    <h1>Listado Generico Estudiantes</h1>
    <!-- Obtener contenido a traves de la apai creada -->
        <script type="text/javascript">

        		$(document).ready(function(){
        			console.log("Lista")
        			$.ajax({
        				url: "/mod1/api_list/",
        				method: "GET",
        				success: function(data){
        					$.each(data, function(key, value){
        						console.log(key, value.estudiante_name)
        					})
        				},
        				error: function(data){
        					console.log("Error")
        					console.log(data)
        				}
        			})
        		});

        </script>
        <table class="table table-striped">
            <thead> </thead>
            <th>Nombre</th>
            <th>Edad</th>
            <th> | </th>
            <th>Detalles </th>
            <th> | </th>
            {% for obj in object_list %}
            <tr>
                <td>{{obj.estudiante_name}}</td>
                <td>{{obj.estudiante_edad}}</td>
                <td><a href="{%url 'detailgen_view' obj.pk %}">Detalle</a></td>
                <td><a href="{%url 'updategen_view' obj.pk %}">Actualizar</a></td>
                <td><a href="{%url 'deletegen_view' obj.pk %}">Borrar</a></td>
            </tr>
            {% endfor %}
        </table>
{% endblock%}
