{% extends "base.html"%}
{% block title %}
    Lista
{% endblock %}

{% block content %}
    <h1>Listado Estudiantes</h1>
        <table class="table table-striped">
            <thead> </thead>
            <th>Nombre</th>
            <th>Edad</th>
            <th> | </th>
            <th>Detalles </th>
            <th> | </th>
            {% for item in lista%}
            <tr>
                <td>{{item.estudiante_name}}</td>
                <td>{{item.estudiante_edad}}</td>
                <td><a href="{%url 'detail_view' item.id %}">Detalle</a></td>
                <td><a href="{%url 'update_view' item.id %}">Actualizar</a></td>
                <td><a href="{%url 'delete_view' item.id %}">Borrar</a></td>
            </tr>
            {% endfor %}
        </table>
        <p>Total de alumnos: {{countEstu}}</p>
{% endblock%}
