{% extends "base.html"%}
{% block title %}
    SignUp!
{% endblock %}
<!--.as_p para el form.vert-->
{% block content %}
<h1>Registro!</h1>
<form class="form-group" method="POST">{% csrf_token %}
  {{ form }}
  <button type="submit" class= "btn btn-outline-primary form-control">SignUp!</button>
  <button type="reset" class= "btn btn-outline-warning form-control">Cancelar</button>
</form>
{% endblock%}
