{% extends "base.html"%}
{% block title %}
    Actualizacion
{% endblock %}
<!--.as_p para el form.vert-->
{% block content %}
<h3>Actualizacion</h3>
<form class="form-group" method="POST">{% csrf_token %}
  {{form.as_p}}
  <button  type="submit" class= "btn btn-outline-primary form-control">Actualizar</button>
  <button type="reset" class= "btn btn-outline-warning form-control">Cancelar</button>
</form>
{% endblock%}
